<!-- CHARACTER CREATION FORM START -->
<div class="container-fluid" ng-show="!CharacterCreationForm.isVisible">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <button class="btn btn-primary btn-lg btn-block" ng-click="CharacterCreationForm.open()">
          <span>Create New Character</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- CHARACTER CREATION FORM -->
<form class="form-horizontal" id="character-creation-form" name="CharacterCreationForm.form" ng-if="CharacterCreationForm.isVisible" novalidate>
  <!-- SECTION: PROFILE -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Profile</h3>
        <div class="well">
          <!-- FIELD: NAME -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.name.$invalid && (CharacterCreationForm.form.name.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="name">Name</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="name" ng-model="CharacterCreationForm.character.name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.name.$error.required && (CharacterCreationForm.form.name.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's name.</span>
              </div>
            </div>
          </div> <!-- END NAME FIELD -->
          <!-- FIELD: RACE -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.race.$invalid && (CharacterCreationForm.form.race.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="race">Race</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="race" list="raceList" ng-model="CharacterCreationForm.character.race" required>
                <datalist id="raceList">
                  <option value="Dwarf">Dwarf</option>
                  <option value="Elf">Elf</option>
                  <option value="Halfling">Halfling</option>
                  <option value="Human">Human</option>
                  <option value="Dragonborn">Dragonborn</option>
                  <option value="Gnome">Gnome</option>
                  <option value="Half-Elf">Half-Elf</option>
                  <option value="Half-Orc">Half-Orc</option>
                  <option value="Tiefling">Tiefling</option>
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.race.$error.required && (CharacterCreationForm.form.race.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's race.</span>
              </div>
            </div>
          </div> <!-- END RACE FIELD -->
          <!-- FIELD: CHARACTER LEVEL -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.level.$invalid && (CharacterCreationForm.form.level.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="level">Level</label>
              <div class="col-xs-12">
                <input type="number" class="form-control" name="level" min="1" ng-model="CharacterCreationForm.character.level" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.level.$error.number && (CharacterCreationForm.form.level.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a valid numerical value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.level.$error.min && (CharacterCreationForm.form.level.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a positive value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.level.$error.required && (CharacterCreationForm.form.level.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's level.</span>
              </div>
            </div>
          </div> <!-- END CHARACTER LEVEL FIELD -->
          <!-- FIELD: CLASS -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.class.$invalid && (CharacterCreationForm.form.class.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="class">Class</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="class" list="classList" ng-model="CharacterCreationForm.character.class" required>
                <datalist id="classList">
                  <option value="Barbarian">Barbarian</option>
                  <option value="Bard">Bard</option>
                  <option value="Cleric">Cleric</option>
                  <option value="Druid">Druid</option>
                  <option value="Fighter">Fighter</option>
                  <option value="Monk">Monk</option>
                  <option value="Paladin">Paladin</option>
                  <option value="Ranger">Ranger</option>
                  <option value="Rogue">Rogue</option>
                  <option value="Sorceror">Sorceror</option>
                  <option value="Warlock">Warlock</option>
                  <option value="Wizard">Wizard</option>
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.class.$error.required && (CharacterCreationForm.form.class.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's class.</span>
              </div>
            </div>
          </div> <!-- END CLASS FIELD -->
          <!-- FIELD: ALIGNMENT -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.alignment.$invalid && (CharacterCreationForm.form.alignment.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="alignment">Alignment</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="alignment" list="alignmentList" ng-model="CharacterCreationForm.createMonsterForm.alignment" required>
                <datalist id="alignmentList">
                  <option value="Lawful Good">Lawful Good</option>
                  <option value="Neutral Good">Neutral Good</option>
                  <option value="Chaotic Good">Chaotic Good</option>
                  <option value="Lawful Neutral">Lawful Neutral</option>
                  <option value="Neutral">Neutral</option>
                  <option value="Chaotic Neutral">Chaotic Neutral</option>
                  <option value="Lawful Evil">Lawful Evil</option>
                  <option value="Neutral Evil">Neutral Evil</option>
                  <option value="Chaotic Evil">Chaotic Evil</option>
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.alignment.$error.required && (CharacterCreationForm.form.alignment.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's alignment.</span>
              </div>
            </div>
          </div> <!-- END ALIGNMENT FIELD -->
          <!-- FIELD: EXPERIENCE POINTS -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.xp.$invalid && (CharacterCreationForm.form.xp.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="xp">Experience Points</label>
              <div class="col-xs-12">
                <input type="number" class="form-control" name="xp" min="0" ng-model="CharacterCreationForm.character.xp" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.xp.$error.number && (CharacterCreationForm.form.xp.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a valid numerical value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.xp.$error.min && (CharacterCreationForm.form.xp.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a non-negative value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.xp.$error.required && (CharacterCreationForm.form.xp.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's experience point value.</span>
              </div>
            </div>
          </div> <!-- END EXPERIENCE POINTS FIELD -->
        </div>
      </div>
    </div>
  </div> <!-- END PROFILE SECTION -->
  <!-- SECTION: ABILITY SCORES -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Ability Scores</h3>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Ability</th>
              <th>Score</th>
              <th>Proficiency</th>
            </tr>
          </thead>
          <tbody>
            <!-- FIELD: STRENGTH -->
            <tr>
              <div ng-class="{ 'has-error': CharacterCreationForm.form.abilities.strength.score.$invalid && (CharacterCreationForm.form.abilities.strength.score.$dirty || CharacterCreationForm.isSubmitted) }">
              <td>
                <span>Strength</span>
              </td>
              <td>
                <input type="number" class="form-control" name="strengthScore" min="0" ng-model="CharacterCreationForm.character.abilities.strength.score" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="strengthProficiency" ng-model="CharacterCreationForm.character.abilities.strength.proficient">
              </td>
              </div>
            </tr> <!-- END STRENGTH FIELD -->
            <!-- FIELD: DEXTERITY -->
            <tr ng-class="{ 'has-error': CharacterCreationForm.form.abilities.dexterity.score.$invalid && (CharacterCreationForm.form.abilities.dexterity.score.$dirty || CharacterCreationForm.isSubmitted) }">
              <td>
                <span>Dexterity</span>
              </td>
              <td>
                <input type="number" class="form-control" name="dexterityScore" min="0" ng-model="CharacterCreationForm.character.abilities.dexterity.score" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="dexterityProficiency" ng-model="CharacterCreationForm.character.abilities.dexterity.proficient">
              </td>
            </tr> <!-- END DEXTERITY FIELD -->
            <!-- FIELD: CONSTITUTION -->
            <tr ng-class="{ 'has-error': CharacterCreationForm.form.abilities.constitution.score.$invalid && (CharacterCreationForm.form.abilities.constitution.score.$dirty || CharacterCreationForm.isSubmitted) }">
              <td>
                <span>Constitution</span>
              </td>
              <td>
                <input type="number" class="form-control" name="constitutionScore" min="0" ng-model="CharacterCreationForm.character.abilities.constitution.score" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="constitutionProficiency" ng-model="CharacterCreationForm.character.abilities.constitution.proficient">
              </td>
            </tr> <!-- END CONSTITUTION FIELD -->
            <!-- FIELD: INTELLIGENCE -->
            <tr ng-class="{ 'has-error': CharacterCreationForm.form.abilities.intelligence.score.$invalid && (CharacterCreationForm.form.abilities.intelligence.score.$dirty || CharacterCreationForm.isSubmitted) }">
              <td>
                <span>Intelligence</span>
              </td>
              <td>
                <input type="number" class="form-control" name="intelligenceScore" min="0" ng-model="CharacterCreationForm.character.abilities.intelligence.score" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="intelligenceProficiency" ng-model="CharacterCreationForm.character.abilities.intelligence.proficient">
              </td>
            </tr> <!-- END INTELLIGENCE FIELD -->
            <!-- FIELD: WISDOM -->
            <tr ng-class="{ 'has-error': CharacterCreationForm.form.abilities.wisdom.score.$invalid && (CharacterCreationForm.form.abilities.wisdom.score.$dirty || CharacterCreationForm.isSubmitted) }">
              <td>
                <span>Wisdom</span>
              </td>
              <td>
                <input type="number" class="form-control" name="wisdomScore" min="0" ng-model="CharacterCreationForm.character.abilities.wisdom.score" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="wisdomProficiency" ng-model="CharacterCreationForm.character.abilities.wisdom.proficient">
              </td>
            </tr> <!-- END WISDOM FIELD -->
            <!-- FIELD: CHARISMA -->
            <tr ng-class="{ 'has-error': CharacterCreationForm.form.abilities.charisma.score.$invalid && (CharacterCreationForm.form.abilities.charisma.score.$dirty || CharacterCreationForm.isSubmitted) }">
              <td>
                <span>Charisma</span>
              </td>
              <td>
                <input type="number" class="form-control" name="charismaScore" min="0" ng-model="CharacterCreationForm.character.abilities.charisma.score" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="charismaProficiency" ng-model="CharacterCreationForm.character.abilities.charisma.proficient">
              </td>
            </tr> <!-- END CHARISMA FIELD -->
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- END ABILITY SCORES SECTION -->
  <!-- SECTION: SKILLS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Skills</h3>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Skill</th>
              <th>Modifier</th>
              <th>Proficiency</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="skill in CharacterCreationForm.skillList">
              <td>{{skill.name}}</td>
              <td>
                <input type="number" class="form-control" name="{{skill.name}}Modifier" ng-model="CharacterCreationForm.character.skills[skill.name].modifier" required>
              </td>
              <td>
                <input type="checkbox" class="form-control" name="{{skill.name}}Proficiency" ng-model="CharacterCreationForm.character.skills[skill.name].proficient">
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- END SKILLS SECTION-->
  <!-- COMBAT STATISTICS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Combat Statistics</h3>
        <div class="well">
          <!-- FIELD: ARMOR CLASS -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.armorClass.$invalid && (CharacterCreationForm.form.armorClass.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="armorClass">Armor Class</label>
              <div class="col-xs-12">
                <input type="number" class="form-control" name="armorClass" ng-model="CharacterCreationForm.character.armorClass" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.armorClass.$error.number && (CharacterCreationForm.form.armorClass.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a valid numerical value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.armorClass.$error.required && (CharacterCreationForm.form.armorClass.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's armor class.</span>
              </div>
            </div>
          </div> <!-- END ARMOR CLASS FIELD -->
          <!-- FIELD: SPEED -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.speed.$invalid && (CharacterCreationForm.form.speed.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="speed">Speed (ft.)</label>
              <div class="col-xs-12">
                <input type="number" class="form-control" name="speed" min="0" ng-model="CharacterCreationForm.character.speed" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.speed.$error.number && (CharacterCreationForm.form.speed.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a valid numerical value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.speed.$error.min && (CharacterCreationForm.form.speed.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a non-negative.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.speed.$error.required && (CharacterCreationForm.form.speed.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's speed in feet.</span>
              </div>
            </div>
          </div> <!-- END SPEED FIELD -->
          <!-- FIELD: MAXIMUM HIT POINTS -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.maximumHitPoints.$invalid && (CharacterCreationForm.form.maximumHitPoints.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="maximumHitPoints">Maximum Hit Points</label>
              <div class="col-xs-12">
                <input type="number" class="form-control" name="maximumHitPoints" min="1" ng-model="CharacterCreationForm.character.maximumHitPoints" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.maximumHitPoints.$error.number && (CharacterCreationForm.form.maximumHitPoints.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a valid numerical value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.maximumHitPoints.$error.min && (CharacterCreationForm.form.maximumHitPoints.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a positive value.</span>
                <span class="text-danger" ng-show="CharacterCreationForm.form.maximumHitPoints.$error.required && (CharacterCreationForm.form.maximumHitPoints.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's maximum hit points.</span>
              </div>
            </div>
          </div> <!-- END MAXIMUM HIT POINTS FIELD -->
          <!-- FIELD: HIT DICE -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': CharacterCreationForm.form.hitDice.$invalid && (CharacterCreationForm.form.hitDice.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label" for="hitDice">Hit Dice</label>
              <div class="col-xs-12">
                <select class="form-control" name="hitDice" ng-model="CharacterCreationForm.character.hitDice" required>
                  <option value="4">d4</option>
                  <option value="6">d6</option>
                  <option value="8">d8</option>
                  <option value="10">d10</option>
                  <option value="12">d12</option>
                  <option value="20">d20</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.hitDice.$error.required && (CharacterCreationForm.form.hitDice.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide your character's hit dice type.</span>
              </div>
            </div>
          </div> <!-- END HIT DICE FIELD -->
        </div>
      </div>
    </div>
  </div> <!-- END COMBAT STATISTICS SECTION -->
  <!-- SECTION: ATTACKS & SPELLCASTING -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Attacks & Spellcasting</h3>
        <!-- ATTACKS & SPELLCASTING MENU NAVIGATION -->
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group" ng-click="CharacterCreationForm.selectedAttackMenu = 'weapons'">
            <button type="button" class="btn btn-default">
              <span class="icon" data-icon="&#xe0bf;"></span>
            </button>
          </div>
          <div class="btn-group" role="group" ng-click="CharacterCreationForm.selectedAttackMenu = 'spells'">
            <button type="button" class="btn btn-default">
              <span class="icon" data-icon="&#xe1b5;"></span>
            </button>
          </div>
        </div> <!-- END ATTACKS & SPELLCASTING MENU NAVIGATION -->
        <hc-character-attacks character="CharacterCreationForm.character" ng-if="'weapons' === CharacterCreationForm.selectedAttackMenu"></hc-character-attacks>
        <hc-character-spells character="CharacterCreationForm.character" ng-if="'spells' === CharacterCreationForm.selectedAttackMenu"></hc-character-spells>
      </div>
    </div>
  </div> <!-- END ATTACKS & SPELLCASTING SECTION -->
  <!-- SECTION: FEATURES & TRAITS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Features & Traits</h3>
        <div class="btn-toolbar array-item-toolbar character-features-toolbar">
          <div class="btn-group" role="group">
            <!-- REMOVE FEATURE -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="CharacterCreationForm.removeFeature()" ng-disabled="CharacterCreationForm.isRemoveFeaturesDisabled()"><i class="fa fa-minus"></i></button>
            <!-- ADD FEATURE -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="CharacterCreationForm.addFeature()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <!-- FEATURE LIST -->
        <div class="well array-item character-feature" ng-repeat="feature in CharacterCreationForm.character.features track by $index">
          <!-- FIELD: FEATURE NAME -->
          <div class="form-group container-fluid">
            <div class="row" ng-class="{ 'has-error': CharacterCreationForm.character.feature{{$index}}Name.$invalid && (CharacterCreationForm.character.feature{{$index}}Name.$dirty || CharacterCreationForm.isSubmitted) }">
              <label class="col-xs-12 control-label" for="feature{{$index}}Name">Name</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="feature{{$index}}Name" ng-model="CharacterCreationForm.character.features[$index].name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.character.feature{{$index}}Name.$error.required && (CharacterCreationForm.character.feature{{$index}}Name.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a feature name.</span>
              </div>
            </div>
          </div> <!-- END FEATURE NAME FIELD -->
          <!-- FIELD: FEATURE DESCRIPTION -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="feature{{$index}}Description">Description</label>
              <div class="col-xs-12">
                <textarea class="form-control" name="feature{{$index}}Description" rows="3" ng-model="CharacterCreationForm.character.features[$index].description"></textarea>
              </div>
            </div>
          </div> <!-- END FEATURE DESCRIPTION FIELD -->
        </div>
      </div>
    </div>
  </div>
  <!-- SECTION: FEATS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Feats</h3>
        <div class="btn-toolbar array-item-toolbar character-feats-toolbar">
          <div class="btn-group" role="group">
            <!-- REMOVE FEAT -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="CharacterCreationForm.removeFeat()" ng-disabled="CharacterCreationForm.isRemoveFeatsDisabled()"><i class="fa fa-minus"></i></button>
            <!-- ADD FEAT -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="CharacterCreationForm.addFeat()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <!-- FEAT LIST -->
        <div class="well array-item" ng-repeat="feat in CharacterCreationForm.character.feats track by $index">
          <!-- FIELD: FEAT NAME -->
          <div class="form-group container-fluid">
            <div class="row" ng-class="{ 'has-error': CharacterCreationForm.form.feat{{$index}}Name.$invalid && (CharacterCreationForm.form.feat{{$index}}Name.$dirty || CharacterCreationForm.isSubmitted) }">
              <label class="col-xs-12 control-label" for="feat{{$index}}Name">Name</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="feat{{$index}}Name" ng-model="CharacterCreationForm.character.feats[$index].name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-danger" ng-show="CharacterCreationForm.form.feat{{$index}}Name.$error.required && (CharacterCreationForm.form.feat{{$index}}Name.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a feat name.</span>
              </div>
            </div>
          </div> <!-- END FEAT NAME FIELD -->
          <!-- FIELD: FEAT DESCRIPTION -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="feat{{$index}}Description">Description</label>
              <div class="col-xs-12">
                <textarea class="form-control" name="feat{{$index}}Description" rows="3" ng-model="CharacterCreationForm.character.feats[$index].description"></textarea>
              </div>
            </div>
          </div> <!-- END FEAT DESCRIPTION FIELD -->
        </div>
      </div>
    </div>
  </div> <!-- END FEATS SECTION -->
  <!-- SECTION: PHYSICAL CHARACTERISTICS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Physical Characteristics</h3>
        <div class="well">
          <!-- FIELD: HEIGHT -->
          <div class="form-group container-fluid" ng-class="{ 'has-error': (CharacterCreationForm.form.heightFeet.$invalid || CharacterCreationForm.form.heightInches.$invalid) && (CharacterCreationForm.form.heightFeet.$dirty || CharacterCreationForm.form.heightInches.$dirty || CharacterCreationForm.isSubmitted) }">
            <div class="row">
              <label class="col-xs-12 control-label">Height</label>
              <div class="col-xs-5">
                <input type="number" class="form-control" name="heightFeet" min="0" ng-model="CharacterCreationForm.character.height.feet">
              </div>
              <div class="col-xs-6 form-unit-label">
                <label>ft.</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <input type="number" class="form-control" name="heightInches" min="0" ng-model="CharacterCreationForm.character.height.inches">
              </div>
              <div class="col-xs-6 form-unit-label">
                <label>in.</label>
              </div>
            </div>
            <div class="row">
              <div class="cols-xs-12">
                <span class="text-danger" ng-show="(CharacterCreationForm.form.heightFeet.$error.number || CharacterCreationForm.form.heightInches.$error.number) && (CharacterCreationForm.form.heightFeet.$dirty || CharacterCreationForm.form.heightInches.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a valid numerical value.</span>
                <span class="text-danger" ng-show="(CharacterCreationForm.form.heightFeet.$error.min && CharacterCreationForm.form.heightInches.$error.min) && (CharacterCreationForm.form.heightFeet.$dirty || CharacterCreationForm.form.heightInches.$dirty || CharacterCreationForm.isSubmitted)" class="help-block">Please provide a non-negative value.</span>
              </div>
            </div>
          </div> <!-- END HEIGHT FIELD -->
          <!-- FIELD: WEIGHT -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="weight">Weight (lb.)</label>
              <div class="col-xs-12">
                <input type="number" class="form-control" id="character-weight" name="weight" ng-model="CharacterCreationForm.character.weight">
              </div>
            </div>
          </div> <!-- END WEIGHT FIELD -->
          <!-- FIELD: SEX -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="sex">Sex</label>
              <div class="col-xs-12">
                <input type="text" class="form-control" id="character-sex" name="sex" ng-model="CharacterCreationForm.character.sex">
              </div>
            </div>
          </div> <!-- END SEX FIELD -->
        </div>
      </div>
    </div>
  </div> <!-- END PHYSICAL CHARACTERISTICS SECTION -->
  <!-- PERSONAL CHARACTERISTICS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Personal Characteristics</h3>
        <div class="well">
          <!-- FIELD: PERSONALITY TRAITS -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="personalityTraits">Personality Traits</label>
              <div class="col-xs-12">
                <textarea class="form-control" id="character-ideals" name="ideals" rows="5" ng-model="CharacterCreationForm.character.personalityTraits"></textarea>
              </div>
            </div>
          </div> <!-- END PERSONALITY TRAITS FIELD -->
          <!-- IDEALS -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="ideals">Ideals</label>
              <div class="col-xs-12">
                <textarea class="form-control" id="character-ideals" name="ideals" rows="5" ng-model="CharacterCreationForm.character.ideals"></textarea>
              </div>
            </div>
          </div> <!-- END IDEALS FIELD -->
          <!-- FIELD: BONDS -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="bonds">Bonds</label>
              <div class="col-xs-12">
                <textarea class="form-control" id="character-bonds" name="bonds" rows="5" ng-model="CharacterCreationForm.character.bonds"></textarea>
              </div>
            </div>
          </div> <!-- END BONDS FIELD -->
          <!-- FIELD: FLAWS -->
          <div class="form-group container-fluid">
            <div class="row">
              <label class="col-xs-12 control-label" for="flaws">Flaws</label>
              <div class="col-xs-12">
                <textarea class="form-control" id="character-flaws" name="flaws" rows="5" ng-model="CharacterCreationForm.character.flaws"></textarea>
              </div>
            </div>
          </div> <!-- END FLAWS FIELD -->
        </div>
      </div>
    </div>
  </div> <!-- END PERSONAL CHARACTERISTICS SECTION -->
  <!-- CHARACTER CREATION OPTIONS -->
  <div class="container-fluid form-control-bar">
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <div class="btn-toolbar btn-toolbar-justified">
            <!-- SUBMIT BUTTON -->
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="CharacterCreationForm.createCharacter(CharacterCreationForm.form.$valid)">Create</button>
            <!-- CANCEL BUTTON -->
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="CharacterCreationForm.cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> <!-- END CHARACTER CREATION FORM -->