<div class="jumbotron">
  <h1>Profile</h1>
</div>

<div class="row">

  <div ui-view="alerts"></div>

  <div class="well">
    <button type="button" class="btn btn-primary btn-lg" ng-click="HomunculusProfileController.showCreateProfileForm = !HomunculusProfileController.showCreateProfileForm">
      <i class="fa fa-minus" ng-show="HomunculusProfileController.showCreateProfileForm"></i>
      <i class="fa fa-plus" ng-show="!HomunculusProfileController.showCreateProfileForm"></i>
      <span>Create New Profile</span>
    </button>

    <!-- CREATE PROFILE FORM -->
    <div class="well" ng-show="HomunculusProfileController.showCreateProfileForm">
    <form class="create-profile-form" id="create-profile-form" name="createProfileForm" ng-show="HomunculusProfileController.showCreateProfileForm" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="profile-name" name="name" placeholder="Enter a name..." ng-model="profile.name" required>
        <span ng-show="createProfileForm.name.$error.required && (createProfileForm.name.$dirty || HomunculusProfileController.submittedCreateProfileForm)" class="help-block">Please provide a name.</span>
      </div>
      <button id="create-profile-form-submit-button" class="btn btn-primary" ng-click="HomunculusProfileController.create(createProfileForm.$valid, profile)">Create Profile</button>
    </form>
    </div>
  </div>

  <div class="well">
    <h2>Select a profile</h2>
    <form name="selectProfileForm" ng-submit="HomunculusProfileController.select(profile)" novalidate>
      <div ng-repeat="profile in HomunculusProfileController.profiles track by profile.uuid">
        <input type="radio" id="{{ profile.uuid }}" name="profiles" ng-model="profile.uuid" ng-value="profile.uuid">
        <label for="{{ profile.uuid }}">{{ profile.name }}</label>
      </div>
      <button class="btn btn-primary" type="submit">Select Profile</button>
    </form>
  </div>
</div>