<div class="jumbotron">
  <h1>Profile</h1>
</div>

<div class="row">

  <!-- FLASH MESSAGE INTERFACE -->
  <div ui-view="alerts"></div>

  <!-- PROFILE CREATION INTERFACE -->
  <div class="well">

    <!-- Display toggle for profile creation form. -->
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="!HomunculusProfileController.showCreateProfileForm" ng-click="HomunculusProfileController.showCreateProfileForm = true">
      <span>Create New Profile</span>
    </button>

    <!-- PROFILE CREATION FORM -->
    <form class="create-profile-form" name="createProfileForm" ng-show="HomunculusProfileController.showCreateProfileForm" novalidate>

      <!-- NAME -->
      <div class="form-group container-fluid" ng-class="{ 'has-error': createProfileForm.name.$invalid && (createProfileForm.name.$dirty || HomunculusProfileController.submittedCreateProfileForm) }">
        <div class="row">
          <label class="col-xs-12 col-sm-3 control-label" for="name">Name</label>
          <div class="col-xs-12 col-sm-9">
            <input type="text" class="form-control" name="name" ng-model="HomunculusProfileController.createProfileForm.name" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-9">
            <span class="text-danger" ng-show="createProfileForm.name.$error.required && (createProfileForm.name.$dirty || HomunculusProfileController.submittedCreateProfileForm)" class="help-block">Please provide a name.</span>
          </div>
        </div>
      </div>

          <div class="btn-toolbar form-control-bar" role="group">
            <!-- CANCEL BUTTON -->
            <button type="button" class="btn btn-default btn-lg" ng-click="HomunculusProfileController.cancelCreateProfileForm()">Cancel</button>
            <!-- SUBMIT BUTTON -->
            <button type="button" class="btn btn-primary btn-lg" ng-click="HomunculusProfileController.createProfile(createProfileForm.$valid, HomunculusProfileController.createProfileForm)">Create</button>
          </div>

    </form> <!-- END PROFILE CREATION FORM -->

  </div> <!-- END PROFILE CREATION INTERFACE -->

  <!-- PROFILE SELECTION INTERFACE -->
  <div class="well">

    <h2>Select a Profile</h2>

    <form name="selectProfileForm" ng-submit="HomunculusProfileController.select(profile)" novalidate>

      <ul class="form-group list-group profile-list">
        <li class="list-group-item profile-list-item" ng-repeat="profile in HomunculusProfileController.profiles track by profile.uuid">
          <input type="radio" id="{{ profile.uuid }}" name="profile-select" ng-model="$parent.profile.uuid" ng-value="profile.uuid">
          <label for="{{ profile.uuid }}">{{ profile.name }}</label>
        </li>
      </ul>

      <button class="btn btn-primary btn-lg btn-block" type="submit">Select Profile</button>

    </form> <!-- END PROFILE SELECTION FORM -->

  </div> <!-- END PROFILE SELECTION INTERFACE -->

</div>